@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Montserrat:wght@400;700&display=swap");
/* 
0 - 400px : lilphone (ref : 375px)
400 - 600px : Phone (ref : 375px)
600 - 900px: Tablet portrait (ref : 768px)
900 - 1200px : Tablet landscape
[1200 - 1800] is where our normal syles apply
1800px + : Big desktop
*/
/* $breakpoint arguement choices:
- lilphone
- phone
- tab-port
- tab-land 
- big-desktop
ORDER: Base + typography > general layout + grid > pge layout > components
1em = 16px
only screen is to avoid media queries are applied in case of printing for example
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Montserrat:wght@400;700&display=swap");
/* 
0 - 400px : lilphone (ref : 375px)
400 - 600px : Phone (ref : 375px)
600 - 900px: Tablet portrait (ref : 768px)
900 - 1200px : Tablet landscape
[1200 - 1800] is where our normal syles apply
1800px + : Big desktop
*/
/* $breakpoint arguement choices:
- lilphone
- phone
- tab-port
- tab-land 
- big-desktop
ORDER: Base + typography > general layout + grid > pge layout > components
1em = 16px
only screen is to avoid media queries are applied in case of printing for example
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Montserrat:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  box-sizing: border-box;
  font-size: 50%;
  /* root font-size to rem - correspond to 8px but not in px to authorize user to change default font size of his browser - 1rem = 10px; 10px/16px = 62.5% - 16px default size browser font*/
  scroll-behavior: smooth;
}
@media only screen and (min-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (min-width: 75em) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

li {
  list-style-type: none;
}

body {
  font-weight: 400;
  line-height: 26px;
  font-size: 1.8rem;
  background-color: rgb(2, 2, 26);
  color: #ffffff;
  margin: 0;
  padding: 5%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 37.5em) {
  body::before {
    content: "";
    position: fixed;
    height: 200px;
    width: 200px;
    background-color: rgb(0, 255, 255);
    filter: blur(140px);
    pointer-events: none;
    z-index: -1;
  }
}
@media only screen and (min-width: 37.5em) {
  body::after {
    content: "";
    position: fixed;
    top: 200px;
    left: 250px;
    height: 200px;
    width: 200px;
    background-color: rgb(183, 0, 255);
    filter: blur(140px);
    pointer-events: none;
    z-index: -1;
  }
}

@media only screen and (min-width: 37.5em) {
  #root::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    height: 200px;
    width: 200px;
    background-color: rgb(0, 255, 255);
    filter: blur(140px);
    pointer-events: none;
    z-index: -1;
  }
}
@media only screen and (min-width: 37.5em) {
  #root::after {
    content: "";
    position: fixed;
    top: 200px;
    right: 250px;
    height: 200px;
    width: 200px;
    background-color: rgb(183, 0, 255);
    filter: blur(140px);
    pointer-events: none;
    z-index: -1;
  }
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* 
0 - 400px : lilphone (ref : 375px)
400 - 600px : Phone (ref : 375px)
600 - 900px: Tablet portrait (ref : 768px)
900 - 1200px : Tablet landscape
[1200 - 1800] is where our normal syles apply
1800px + : Big desktop
*/
/* $breakpoint arguement choices:
- lilphone
- phone
- tab-port
- tab-land 
- big-desktop
ORDER: Base + typography > general layout + grid > pge layout > components
1em = 16px
only screen is to avoid media queries are applied in case of printing for example
*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
@media only screen and (min-width: 37.5em) {
  header {
    margin-top: 0rem;
  }
}
header h1 {
  color: #f3f3f3;
  white-space: nowrap;
}
@media only screen and (min-width: 37.5em) {
  header h1 div {
    display: inline;
  }
}
header h1 span {
  color: #3a4fcf;
}

.header__nav {
  border-radius: 1rem;
}

.nav__ul {
  display: flex;
  margin: 2rem 1rem;
  border-radius: 1rem;
}

.ul__listItem {
  font-weight: 700;
  margin: 0 0.2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: #3a4fcf;
  background-color: #f3f3f3;
}
.ul__listItem:hover {
  color: #f3f3f3;
  background-color: #3a4fcf;
}
@media only screen and (min-width: 37.5em) {
  .ul__listItem {
    margin: 0 1rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
  }
}

/* 
0 - 400px : lilphone (ref : 375px)
400 - 600px : Phone (ref : 375px)
600 - 900px: Tablet portrait (ref : 768px)
900 - 1200px : Tablet landscape
[1200 - 1800] is where our normal syles apply
1800px + : Big desktop
*/
/* $breakpoint arguement choices:
- lilphone
- phone
- tab-port
- tab-land 
- big-desktop
ORDER: Base + typography > general layout + grid > pge layout > components
1em = 16px
only screen is to avoid media queries are applied in case of printing for example
*/
.contactMe__form {
  display: flex;
  flex-direction: column;
  padding: 1rem 5% 5% 5%;
  border: 2px solid;
  border-color: #3a4fcf;
  border-radius: 2rem;
}
.contactMe__form:focus-within {
  border-color: white;
}

.app__contactMe:has(.contactMe__form:focus-within) > h2 {
  color: #f3f3f3;
}

.label {
  line-height: 2rem;
  margin: 1rem 0;
}

input {
  width: 100%;
  min-height: 4rem;
  padding: 1rem;
  margin: 10px 0;
  box-shadow: 4px 4px 10px #3a4fcf;
}
input:focus-visible {
  outline: none;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}
fieldset:focus-within label {
  color: #3a4fcf;
}
input[type=submit] {
  cursor: pointer;
  height: 40px;
  width: 100px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #2c0b8e;
  color: #2c0b8e;
}
input[type=submit]:hover {
  color: #fff;
  background-color: #3a4fcf;
}

textarea {
  width: 100%;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  border: 0;
  box-shadow: 4px 4px 10px #3a4fcf;
  height: 150px;
}

/* 
0 - 400px : lilphone (ref : 375px)
400 - 600px : Phone (ref : 375px)
600 - 900px: Tablet portrait (ref : 768px)
900 - 1200px : Tablet landscape
[1200 - 1800] is where our normal syles apply
1800px + : Big desktop
*/
/* $breakpoint arguement choices:
- lilphone
- phone
- tab-port
- tab-land 
- big-desktop
ORDER: Base + typography > general layout + grid > pge layout > components
1em = 16px
only screen is to avoid media queries are applied in case of printing for example
*/
.app h2 {
  color: #3a4fcf;
  margin: 1rem;
}

.app__divider {
  margin-top: 2rem;
}/*# sourceMappingURL=index.css.map */