@include media-breakpoint-up(md) {
  //   body {
  //     overflow: hidden;
  //   }
  .containerSection {
    // display: flex;
    gap: 100px;
    width: 100vw;
    background-color: #333;
    overflow-x: auto;
    white-space: nowrap;
    section {
      display: inline-block;
      width: 100vw;
    }
  }
}
