@import "../variables";
@import "../mixins";

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respondMobileFirst(phone) {
    margin-top: 0rem;
  }
  margin-top: 3rem;
  h1 {
    color: $color-grey;
    white-space: nowrap;
    div {
      @include respondMobileFirst(phone) {
        display: inline;
      }
    }
    span {
      color: $color-blue;
    }
  }
}
// .ul__listItem
.header__nav {
  //   @include respondMobileFirst(phone) {
  //     margin: 2rem;
  //   }

  border-radius: 1rem;
}
.nav__ul {
  display: flex;
  margin: 2rem 1rem;
  border-radius: 1rem;
}
.ul__listItem {
  font-weight: $font-weight-bold;
  margin: 0 0.2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: $color-blue;
  background-color: $color-grey;
  &:hover {
    color: $color-grey;
    background-color: $color-blue;
  }
  @include respondMobileFirst(phone) {
    margin: 0 1rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
  }
}
